@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&display=swap');


body {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assests/booking/559.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.mn {
    background-color: whitesmoke;
    text-align: center;
    width: 600px;
    height: auto;
    justify-content: center;
    margin-left: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 50px;

}

input {
    display: inline-block;
    width: 150px;
    height: auto;
    font-size: medium;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    border: 3px solid black;
    color: aliceblue;
    border-color: gold;

}

#name_color {

    color: #ff7900;
    font-size: xx-large;
}

#par {
    color: #ffffff;
    padding: 20px 20px;

}

#submitbtn {
    background-color: #ff7900;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#h1 {
    color: white;
}


#submitbtn:hover {
    background-color: #cc6002;
   
}