.services-section {
    max-width: 1700px;
    margin: 2rem auto;
    padding: 1rem;
}
.service1 {
   
    padding: 50px;
    margin: 50px;
    margin-left: 100px;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 1300px;
    height: 350px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("corporate-party-employees.jpg");
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform .5s;

    
}


.service1:hover{
    transform: scale(1.1);
}

    

.service2 {
   
    padding: 1.5rem;
    margin: 50px;
    margin-left: 100px;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 1300px;
    height: 350px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("ceremony--reception-banner-0323-37113e104bf746628e4e342262b61f4b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .5s;
    
}
.service2:hover{
    transform: scale(1.1);
}
.service3 {
   
    padding: 1.5rem;
    margin: 50px;
    margin-left: 100px;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 1300px;
    height: 350px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Garden_birthday_party_decoration_by_aicaevents_TPG1closeup.jpg");
    background-position-y: -150px;
    transition: transform .5s;
    
}

.service3:hover{
    transform: scale(1.1);
}




.service4 {
   
    padding: 1.5rem;
    margin: 50px;
    margin-left: 100px;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 1300px;
    height: 350px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image7-min.png");
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform .5s;
    
}

.service4:hover{
    transform: scale(1.1);
}
.service5 {
   
    padding: 1.5rem;
    margin: 50px;
    margin-left: 100px;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 1300px;
    height: 350px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("WoW-SilentDisco-020422-339-arw_DxO.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .5s;
    
    
}
.service5:hover{
    transform: scale(1.1);
}

 h2 {
    color: orange;
    font-size: 60px;
    font-weight: bold;
    border: 1px;
}
p {
    line-height: 1.6;
    color:white;
    
    font-weight: bold;
 
}

body {
    background-image: url(pexels-juanpphotoandvideo-1242348.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
span{
    color: white;
 
}

