.Network-section{
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 120px;
    
}

.branchContainer{
    display: flex;
    position: relative;
    background: orange;
    width: 1200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    align-items: center;
    margin: 60px auto;
    overflow: hidden;
}

.details{
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%) translateX(0);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1;
  white-space: nowrap;
}

.networks{
  width: 700px;
  position: absolute;
  padding-top: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease;
  z-index: 2;
}

.branchContainer:hover .networks{
    transform: translateY(-50%) translateX(-100%);
}

.branchContainer:hover .details{
    transform: translateY(-50%) translateX(-120%);
  opacity: 1;
}


.branchContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

.networks img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }

.networks h3 {
    margin: 0.5rem 0;
    color: #0d1b2a;
    font-weight: 900;
    font-size: 30px;
  }

span{
    color: white;
  }

  .countdown {
    text-align: center;
    background-image: url("animate.gif");
    height: 200px;
    border-top: solid 5px black;
    padding: 30px;
  }

  .countdown p{
    font-size: 60px;
    font-weight: bold;
    color: orange;
    display: inline block;
  }


  #countdown-timer{
    color: white;
    font-weight: bold;
    font-size: 40px;
  }

.Branch-video {
  overflow: hidden;
  position: relative;
  object-fit: cover;
}

.bg-video {
  width: 120%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;

}

.branchContainer:hover .networks h3{
  font-size: 50px;
  color: blue;

}
