body{
    background-color:bisque;
}
.bar{
    background-color: #ff7900;
    padding: 15px;
}

.topics{
    font-weight: bold;
    font-size: 1.2em;
    background-color: #efe098;
    padding:10px;
    margin-bottom: 10px;
    border-left:5px solid #ff7900; 
}

.sub-topics{
    background-color:#ff7900;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    
}

.image1 img{
    padding: 30px;
    margin: 30px;
    margin-left: 100px;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 600px;
    height: 400px;
    transition: transform .5s;
    border:2px solid black;
    box-shadow:0 0 5px #f30a0a,0 0 25px #f30a0a

    
}

.image1:hover{
    transform: scale(1.1);
}



.maincontainer{
  margin: 10px 10px 10px 10px;
}


.image2 img{
    padding: 20px;
    margin: 20px;
    margin-left: 100px;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 500px;
    height: 350px;
    transition: transform .5s;
    border:2px solid black;
    box-shadow:0 0 5px black,0 0 20px black;

}

.image2:hover{
    transform: scale(1.1);
}



.main{
    padding-left: 50px;
    padding-right: 50px;
}


span{
    color: #ffffff;
}

#h1{
    color: #ff7900;
}